@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --bg: rgb(148, 182, 255);
  --lightBg: rgb(244, 248, 250);
  --border: rgba(80, 75, 237, 0.484);
  --header: rgb(80, 86, 207);
  --headerLight: rgba(80, 86, 207, 0.764);
}

.body {
  background-color: var(--bg);
}

.app-outer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.app-inner {
  flex: 1;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  border-radius: 0.3rem;
  background-color: var(--lightBg);
  box-shadow: 2px 2px 0px 2px rgba(63, 58, 200, 0.484);
}

.padded {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 900;
  color: var(--headerLight);
  padding: 1rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.app-title-detail {
  font-size: 1.7rem;
  font-weight: 900;
  background-color: var(--header);
  color: var(--lightBg);
  font-family: "Montserrat", sans-serif;
  border: 1px solid rgb(203, 203, 255);
  padding: 0.4rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  max-width: 40px;
}

.profile-picture-img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.gap-small {
  gap: 0.2rem;
}
