@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --bg: rgb(148, 182, 255);
  --lightBg: rgb(244, 248, 250);
  --shadedBg: rgba(165, 201, 255, 0.153);
  --border: rgba(80, 75, 237, 0.385);
  --header: rgb(80, 86, 207);
  --headerLight: rgba(80, 86, 207, 0.764);
}

/* Flex options */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-stretch {
  align-items: stretch;
}

.align-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex {
  flex: 1;
}

.gap-tiny {
  gap: 0.3rem;
}

.gap-small {
  gap: 0.4rem;
}

.gap-medium {
  gap: 1rem;
}

.gap-large {
  gap: 1.5rem;
}

.stretch-self {
  align-self: stretch;
}

/* Padding options */

.small-padding {
  padding: 0.5rem;
}

.small-padding-l {
  padding-left: 0.5rem;
}

.medium-padding {
  padding: 1rem;
}

.large-padding {
  padding: 1.5rem;
}

.no-padding-r {
  padding-right: 0;
}

.no-padding-l {
  padding-left: 0;
}

.no-padding-t {
  padding-top: 0;
}

/* margins */

.small-margin-top {
  margin-top: 0.5rem;
}

/* Borders */

.border-top {
  border-top: 1px solid var(--border);
}

.border-bottom {
  border-bottom: 1px solid var(--border);
}

.border-left {
  border-left: 1px solid var(--border);
}

.border-right {
  border-right: 1px solid var(--border);
}

/* Fontweight options */

.fw-light {
  font-weight: 300;
}

.fw-bold {
  font-weight: 600;
}

.fw-superbold {
  font-weight: 900;
}

/* Font color options */

.fc-header {
  color: var(--header);
}

.fc-header-light {
  color: var(--headerLight);
}

.fc-light {
  color: var(--lightBg);
}

/* Font size options */

.fs-tiny {
  font-size: 0.7rem;
}

.fs-small {
  font-size: 0.9rem;
}

.fs-medium {
  font-size: 1rem;
}

.fs-big {
  font-size: 1.7rem;
}

/* Background color options */

.bc-dark {
  background-color: var(--bg);
}

.bc-shaded {
  background-color: var(--shadedBg);
}

.bc-light {
  background-color: var(--lightBg);
}

.bc-header {
  background-color: var(--header);
}

/* Box shadow */

.bs-card {
  box-shadow: 2px 2px 0px 2px rgba(63, 58, 200, 0.484);
}

/* Border-radius */

.br-medium {
  border-radius: 0.3rem;
}

.br-half {
  border-radius: 50%;
}

/* Font-family */

.ff-montserrat {
  font-family: "Montserrat", sans-serif;
}

/* Letterspacing */

.ls-1 {
  letter-spacing: 1px;
}

/* Widths */

.w-3rem {
  width: 3rem;
}

.w-100 {
  width: 100%;
}

/* Max-widths */

.mw-40px {
  max-width: 40px;
}

.mw-40rem {
  max-width: 40rem;
}

/* Display */

.d-block {
  display: block;
}

/* Hover */

a:hover > .hover-underline {
  text-decoration: underline;
}

/* square */

.square-1 {
  width: 1.2rem;
  height: 1.2rem;
  max-width: 1.2rem;
  max-height: 1.2rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
}
