* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-picture {
  max-width: 40px;
}

.profile-picture-img {
  width: 100%;
  border-radius: 50%;
}
