<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://kit.fontawesome.com/f26e226bf0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/normalize.css"/>
    <link rel="stylesheet" href="/static/reset.css"/>
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
    <title>q-Messages</title>
  </head>
  <body class="bc-dark">
    <div class="medium-padding flex-row justify-center align-stretch">
      <div class="flex mw-40rem flex-column gap-medium">
        <header class="flex-row justify-between align-center br-medium bs-card bc-light">
          <h1 class="fs-medium ls-1 fw-superbold fc-header-light medium-padding stretch-self flex-row align-center ff-montserrat gap-small">
            <span class="fs-big fw-superbold bc-header fc-light ff-montserrat small-padding br-medium w-3rem flex-row justify-center align-center">Q</span>MESSAGES</h1>
          <div class="medium-padding">
            {% if session %}
              <div class="flex-column align-center gap-small">
                <div class="mw-40px">
                  <img class="w-100 br-half d-block" referrerpolicy="no-referrer" src="{{session.userinfo.picture}}" alt="{{session.userinfo.name}}'s profile picture"/>
                </div>
                <a href="/logout">Logout</a>
              </div>
            {% else %}
              <a href="/login">Login</a>
            {% endif %}
          </div>
        </header>
        <main class="flex-column gap-medium">
          {% block content %}{% endblock %}
        </main>
        <footer class="medium-padding flex-row justify-center align-center gap-small fs-small">
          <p>q-Messages by</p>
          <a href="https://github.com/qvistdev09" class="fw-bold">
            <span class="hover-underline">qvistdev09</span></a>
        </footer>
      </div>
    </div>
  </body>
</html>