{% macro card(card_object, spacing) -%}
  <div {% if spacing == 10 %}class="br-medium bs-card bc-light"{% endif %}>
    <div>
      <div class="flex-row align-center justify-between medium-padding border-bottom bc-shaded border-top">
        <p class="fw-bold fc-header">{{ card_object.nickname }}</p>
        <p class="fw-light fs-small">{{ card_object.readable_date }}</p>
      </div>
      <div class="large-padding">
        <p>{{ card_object.body }}</p>
        <div class="flex-row justify-end">
          <a href="messages/{{card_object.id}}/reply">reply</a>
        </div>
      </div>
      {% if card_object.children %}
        <div class="flex-row align-stretch">
          <div class="flex border-right" style="max-width:{{ spacing }}px;"></div>
          <div class="small-padding flex-column flex">
            {% for child in card_object.children %}
              <div class="small-padding">
                {{ card(child, spacing + 10) }}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{%- endmacro %}